/*html,
body {
    width: 100%;
}*/

body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #222;
    background-image: url(assets/dark_wall.png);
    padding-top: 10px;
    padding: 2rem 2rem 3rem;
}

* {
    color: #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/**/

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 960px;
}

input,
textarea {
    font-family: inherit;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(255, 255, 255, .8);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    max-width: 25rem;
    margin: 3px 0;
}

.btn {
    font-family: inherit;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #adadad;
    background-color: rgba(255, 255, 255, 0);
    border-color: #adadad;
    -webkit-transition: all ease-in-out .15s, all ease-in-out .15s;
    transition: all ease-in-out .15s, all ease-in-out .15s;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

pre {
    background-image: none;
    border-radius: 4px;
    color: #50E3C2;
    padding: 6px 12px;
    position: relative;
    white-space: pre;
    overflow: auto;
    background-color: rgba(2, 2, 2, 0.2);
    border: 1px solid #101010;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .6), 0 0 2px rgba(255, 255, 255, .2)!important;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .6), 0 0 2px rgba(255, 255, 255, .2)!important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .6), 0 0 2px rgba(255, 255, 255, .2)!important;
}

pre[lg]:before {
    position: absolute;
    padding: .0 .2rem;
    background: rgba(0, 118, 60, 0.61);
    color: #102f20;
    top: 0;
    right: 0;
    -webkit-font-smoothing: antialiased;
    font-size: .5rem;
    border: solid 1px rgba(51, 51, 51, .12);
    border-top: none;
    border-right: none;
    border-radius: 0 4px;
    white-space: pre;
    overflow: auto;
    font-family: monospace, monospace;
    line-height: .9rem;
    opacity: .8;
    content: attr(lg);
}

.gh-bg {
    display: block;
    color: rgba(0, 0, 0, 0);
    line-height: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(assets/PNG/GitHub-Mark-Light-32px.png);
    background-repeat: no-repeat;
    float: right;
    margin: 0 2px;
}

a:hover {
    -webkit-filter: drop-shadow(0px 0px 2px #50E3C2);
    filter: drop-shadow(0px 0px 2px #50E3C2);
}
